@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow-main: #ffd836;
  --black-main: #1E1E1E;
  --beige: #ede5c3;
}

@theme inline {
  --color-yellow-main: var(--yellow-main);
  --color-black-main: var(--black-main);
  --color-beige: var(--beige);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


