@import "tailwindcss";
@plugin "@midudev/tailwind-animations";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --yellow-main: #ffd836;
  --black-main: #2d2d2d;
  --beige: #ede5c3;
}

@theme inline {
  --color-yellow-main: var(--yellow-main);
  --color-black-main: var(--black-main);
  --color-beige: var(--beige);
  --font-main: var(--font-passion-one);
  --font-second: var(--font-opensans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.smooth{
  scroll-behavior: smooth;
}

.text-regular{
  font-size: 0.9em;
}

